body {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  background-color: #eaece7;
  color: #000;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    gap: 10px
}
#AustralianState {
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

h3{
    text-align: center;
}
.navbar {
  background-color: hsl(207, 100%, 50%);
}

.navbar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: hsl(207, 100%, 50%);
}
#missionstatbox{

    width: 100%;
    height: 300px;
    position: relative;
    text-decoration: none;
}
#missionbox{
    width: 1500px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.493);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

#missionbutton{
    width: 160px;
    height: 40px;
    background-color: hsl(0, 0%, 30%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}
#missionbutton a{
    text-decoration: none;
    color: white;
}

#missionbutton:hover{
    background-color: hsl(0, 0%, 20%);
    text-decoration: none;
    text-align: center;
    
}
.container{
    display: flex;
    border: 0px solid black;
    align-items: flex-start;
    text-decoration: none;

    justify-content: space-evenly;

}
.container a{
    text-decoration: none;
    color: white;
    
}
.box{
    width: 200px;
    height: 100px;
    font-size: 1.5em;
    text-align:center;
    padding: 20px;
    border-radius: 15;
}

#box1{
    background-color: hsl(207, 100%, 50%);
    font-size: 1.1em;
}
#box1:hover{
    background-color: hsl(207, 100%, 40%);
    font-size: 1.1em;
}
#box2{
    background-color: hsl(207, 100%, 50%);
    font-size: 1.1em;
}
#box2:hover{
    background-color: hsl(207, 100%, 40%);
    font-size: 1.1em;
}
#box3:hover{
    background-color: hsl(207, 100%, 40%);
    font-size: 1.1em;
}
#box3{
    background-color: hsl(207, 100%, 50%);
    font-size: 1.1em;
}
#box4:hover{
    background-color: hsl(207, 100%, 40%);
    font-size: 1.1em;
}
#box4{
    background-color: hsl(207, 100%, 50%);
    font-size: 1.1em;
}

#box9{
    background-color: hsl(207, 100%, 50%);
    color: white;
    font-size: .8em;
}
#box10{
    background-color: hsl(207, 100%, 50%);
    color: white;
    font-size: .8em;
}#box11{
    background-color: hsl(207, 100%, 50%);
    color: white;
    font-size: .8em;
}#box12{
    background-color: hsl(207, 100%, 50%);
    color: white;
    font-size: .8em;
}