.navbar ul{
    list-style-type: none;
    background-color: hsl(207, 100%, 50%);
    padding: 10%px;
    margin: 0px;
    overflow: hidden;
    font-size: 2em;
    align-items: center;
    justify-content: space-evenly;
}
h1{
    text-align: center;

}
.navbar a{
    color: black;
    text-decoration : none;
    padding: 15px;
    display: flex;
    text-align: center;
    align-items: center;
}

.navbar a:hover{
    background-color: hsl(207, 100%, 30%);
}

.navbar li{
    float: left;
    
}

.dropdown button{
    background-color: hsl(0, 0%, 80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content{
    display: none;
    background-color: hsl(0, 0%, 95%);
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.807);
}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-color: hsl(0, 0%, 70%);
}

.dropdown a:hover{
    background-color: hsl(0, 0%, 90%);

}
.dropdown{
    display: inline-block;
}