
h1{
    text-align: center;
}    

.navbar {
  background-color: hsl(207, 100%, 50%);
}

.navbar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: hsl(207, 100%, 50%);
}

#BacktoHome a{
    font-size: 2em;
    background-color: hsl(207, 100%, 50%);
}

body {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  background-color: #eaece7;
  color: #000;
}

@media print {
    body * {
        visibility: hidden;
    }
    #printable-content, #printable-content * {
        visibility: visible;
    }
    #printable-content {
        position: absolute;
        left: 0;
        top: 0;
    }
    .no-print {
        display: none !important;
    }
}