
h1{
    text-align: center;

}
.navbar {
  background-color: hsl(207, 100%, 50%);
}

.navbar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: hsl(207, 100%, 50%);
}

.navbar a:hover {
  background-color: hsl(207, 100%, 50%);
}

.dropdown button{
    background-color: hsl(0, 0%, 80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content{
    display: none;
    background-color: hsl(0, 0%, 95%);
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.807);
}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-color: hsl(0, 0%, 70%);
}

.dropdown a:hover{
    background-color: hsl(0, 0%, 90%);

}
.dropdown{
    display: inline-block;
}

@media print {
    
    * {
        display: none !important;
    }
    #printable-table,
    #printable-table * {
        display: block !important;
        visibility: visible !important;
    }
    .no-print {
        display: none !important;
    }
}

body {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  background-color: #eaece7;
  color: #000;
}